*, *:before, *:after {
	-moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
    }
body {
	font-family: 'Lato', sans-serif; 
	margin:0;
}
h1, p {
	margin: 10px;
}
.home {
	background-image: url('http://lorempixel.com/output/city-q-c-1600-900-4.jpg');
}

.loglink {
	display:inline-block;
	color: white;
}

.loglink:hover {
	color:red
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: #B5B3B3;
	height: 3.5em;
}

ul li {
	display: inline-block;
	position: relative;
	float: left;
	height: 100%;
	width:25%;
	text-align:center;
	padding: 0;
	margin: 0;
}

ul li a {
	font-size: 1.5em;
	display:block;
	padding: .5em;
	text-decoration:none;
	color:white;
}
.active {
	background-color:rgba(128, 128, 128, 0.65)
}
ul li:hover{
	background-color:rgba(128, 128, 128, 0.65);	
}
.landing {
  position: relative;
  font-size:3em;
  top: 10%;
  left: 5%;
  color: white;
  width: 400px;
}
.wrap {
  overflow: hidden;
}
.box {
  width: 20%;
  position: relative;
  float: left;
  padding:1px;
}
@media only screen and (max-width : 480px) {
  .box {
	width: 100%;
  }
  .landing {
	  top: 10%;
	  left: 10%;
	  width: 100%;
  }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
  .box {
	width: 50%;
  }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
  .box {
	width: 33.3%;
  }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
  .box {
	width: 25%;
  }
}