*, *:before, *:after {
	-moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box;
	font:inherit;
    }

body {
	font-family: 'Lato', sans-serif; 
	margin:0;
}
h1, p {
	margin: 10px;
}
.home {
	background-image: url('http://lorempixel.com/output/city-q-c-1600-900-4.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-color:black;
	color:white;
}

.loglink {
	display:inline-block;
	color: white;
}

.loglink:hover {
	color:red
}


.registercontain{
	box-shadow: 0px 0px 3px #000000;
}
	
.container {
	text-align:center;
	width:40%;
	height:60%;
	padding-top:10%;
	box-shadow: 0px 0px 5px #000000;
	margin-left:30%;
	margin-top:10%;
}
a{
	text-decoration:none;
}


p.allclothestext{
	color: red;
	font-weight: bold;
	text-align:left;
	font-size: 1.5em;
	padding:8%;
	margin-top:5em;
	padding-top:5em;
	
}

.imagecontain{
	margin: auto;
	margin-top:2em;
	width:50%;
    height:100%; 
    background-image: url(http://freeimages.imagestocks.in/best-pictures/vintage-clothing/backstyle-pandoras-bleach-2.png);
	opacity:0.6;
	box-shadow: 0px 0px 3px #000000;
}

.categorytext{
	color:#000000;
	font-weight: bold;
	text-align:center;
	font-size: 3em;
	padding:7%
}

.decadecontain{
	margin: auto;
	margin-top:2em;
	width:300px;
    height:300px;  
    background-image: url(https://s-media-cache-ak0.pinimg.com/736x/68/04/ef/6804ef66534e0cc04a291c6434e458e3.jpg);
	opacity:0.6;
	box-shadow: 0px 0px 3px #000000;
	display:inline-block;
	margin-left:3em;
	margin-right:2em;
}


.countrycontain{
	margin: auto;
	margin-top:2em;
	width:300px;
    height:300px;  
    background-image: url(http://www.outbackleather.com/images/T/570.jpg);
	opacity:0.6;
	box-shadow: 0px 0px 3px #000000;
	display:inline-block;
	margin-left:3em;
	margin-right:2em;
}

.animalcontain{
	margin: auto;
	margin-top:2em;
	width:300px;
    height:300px;  
    background-image: url(http://images.esellerpro.com/2466/I/231/63/MA-2528-2a.jpg);
	opacity:0.6;
	box-shadow: 0px 0px 3px #000000;
	display:inline-block;
	margin-left:3em;
	margin-right:2em;
}

.neoncontain{
	margin: auto;
	margin-top:2em;
	width:300px;
    height:300px;  
    background-image: url(http://product-images.imshopping.com/nimblebuy/enhance-your-costume-with-the-10ft-neon-light-rope-for-only-16-5994672-regular.jpg);
	opacity:0.6;
	box-shadow: 0px 0px 3px #000000;
	display:inline-block;
	margin-left:3em;
	margin-right:2em;
}


.sportscontain{
	margin: auto;
	margin-top:2em;
	width:300px;
    height:300px;  
    background-image: url(http://www.halloweenplayground.com/images/rasta/semi-pro-jackie-moon-costume.jpg);
	opacity:0.6;
	box-shadow: 0px 0px 3px #000000;
	display:inline-block;
	margin-left:3em;
	margin-right:2em;
}

.tropicalcontain{
	margin: auto;
	margin-top:2em;
	width:300px;
    height:300px; 
    background-image: url(http://images.esellerpro.com/3239/I/24/33043.jpg);
	opacity:0.6;
	box-shadow: 0px 0px 3px #000000;
	display:inline-block;
	margin-left:3em;
	margin-right:2em;
}


.filter{
	font-size:1.3em;
	display:inline-block;
	width:15%;
	border-style:solid;
	border-width:1px;
	margin-left:1em;
	margin-top:1em;
}

.view{
	display:inline-block;
	width:80%;
	border-style:solid;
	border-width:1px;
	margin-left:1em;
	margin-top:1em;
}

.item{
	display:inline-block;
	border-style:solid;
	border-width:1px;
	box-shadow: 0px 0px 3px #000000;
	margin-left:1.5em;
	margin-top:2em;
}

.post {
	margin-bottom:7em;
}




input .login {
	width: 90px; 
	height: 390px;
}


#header{
	padding-top:1%;
	padding-bottom:1%;
	background-color: #878787;
}
nav.bar a{
	padding-right: 5%;
	padding-left: 5%;
}

nav.navbar{
	text-align: center;
	font-size: 2em;
}


form#searchbar{
	
	text-align: center;
}

input.searchbar{
	width: 35%;
	text-align:center;
}

.links {
	display:inline-block;
	padding-left:500px;
}

.active {
	color: red;
}

body {
	margin:0;
}

.loglink {
	display:inline-block;
	color: white;
}

.loglink:hover {
	color:red
}

ul {
    list-style-type: none;
	background-color: #B5B3B3;
	height: 3em;
	margin:0;
}

ul li {
	display: inline-block;
	height: 100%;
	width:24%;
	text-align:center;
	position: relative;
	padding: 0;
	margin: 0;
}

ul li a {
	font-size: 1.5em;
	display:block;
	padding-top: .5em;
	text-decoration:none;
	color:white;
}

ul li a:hover{
	color:red;
	
}

ul li:hover{
	background-color:rgba(128, 128, 128, 0.65);	
}
a.button {
    text-decoration: none;
	font-size:14px;
}

p .error {
	color:#ff0000;
}

.btn{font:inherit;display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;border:1px solid transparent;border-radius:4px}
.btn-default{color:#333;background-color:#fff;border-color:#ccc}
.btn-default:hover{color:#333;background-color:#e6e6e6;border-color:#adadad}
.login {
	text-align: center;
}
form#search {
	text-align:center;
	display:inline-block;
	width:80%;
	margin:0;
}
.register {
	text-align:center;
	width:50%;
	display:inline-block;
}

.match {
	font-size:0.8em;
}
#login-button {
	float:right;
}
#search-bar {
	padding:5px;
	background-color:#878787;
}
#query {
	text-align:left;
	vertical-align:middle;
	font-size:14px;
	width: 85%;
	height: 31px;
}
.landing {
  position: relative;
  font-size:3em;
  top: 10%;
  left: 5%;
  color: white;
  width: 400px;
}

.box {
  width: 20%;
  position: relative;
  float: left;
  padding:1px;
  
  * {
	font-family:'Lato', sans-serif;
	text-align:center;
}
h1 {
	margin:5px;
}
form.login {
	padding:5px;
}
input {
	padding:5px;
	margin:5px;
	text-align:left;
}

input #description {
	width:50px;
	height:100px;
}


@media only screen and (max-width : 480px) {
  .box {
	width: 100%;
  }
  .landing {
	  top: 10%;
	  left: 10%;
	  width: 100%;
  }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
  .box {
	width: 50%;
  }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
  .box {
	width: 33.3%;
  }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
  .box {
	width: 25%;
  }
}